{{"<!-- Portfolio Section -->" | safeHTML}}
<section class="portfolio section bg-dark" id="dernieres-recettes">
    <div class="container">
        <div class="row ">
            <div class="col-xl-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center">
                    <h1 class="titre">{{ .Site.Title }}</h1>
                    <h4 class="sous-titre">{{ .Site.Params.description }}</h4>
                    <br>
                    <h2> Les dernières <span class="color">recettes</span></h2>
                    <div class="border-meghna"></div>
                </div>
                {{"<!-- /section title -->" | safeHTML}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="portfolio-filter">
                    <button type="button" data-filter="all">Toutes</button>
                    {{ range .Site.Data.categories.serviceItem }}
                    <button type="button" data-filter="{{ .title }}">{{ .title }}</button>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="row filtr-container">
            {{"<!-- portfolio item -->" | safeHTML}}
            {{ range first 10 .Site.RegularPages.ByDate.Reverse }}
            {{"<!-- single blog post -->" | safeHTML}}
            {{ if isset .Params "ingredients" }}
            <div class="col-lg-4 filtr-item" data-category="{{ range .Params.categories }}{{ . }}{{ end }}">
                <div class="portfolio-block mb-4">
                    <img class="img-fluid" src="{{ .Params.image1 | absURL}}" alt="Photo {{ .Title }}">
                    <div class="caption">
                        <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="{{ .Params.image1 | absURL}}" data-lightbox="image-1">
                            <i class="tf-ion-android-search"></i>
                        </a>
                        <h4><a href="{{ .Permalink | absURL }}"  aria-label="Voir la page de la recette&nbsp; {{ .Params.title }}">{{ .Params.title }}<br><small>Voir la recette <i class="tf-ion-ios-arrow-right"></i></small></a></h4>
                        <p>{{ with .Params.blabla}}{{.}}{{else}}{{ .Summary }}{{end}}</p>
                    </div>
                </div>
            </div>
            {{ end }}
            {{"<!-- /single blog post -->" | safeHTML}}
            {{ end }}
        </div>
        <br>
        <div class="content text-center">
            <a class="btn btn-transparent" href="/toutes-les-recettes/">Voir toutes les recettes</a>
        </div>
    </div>
</section>
{{"<!-- /Portfolio -->" | safeHTML}}

