{{ if .Site.Data.pratiques.enable}}
{{"<!-- service -->" | safeHTML }}
<section id="pratiques-les-basiques" class="bg-one section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML }}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2><a href="/category/pratique-les-basiques"  aria-label="Vers la rubrique des recettes basiques">
                        {{ with .Site.Data.pratiques.heading }} {{ . }} {{ end }}
                        <span class="color">{{ with .Site.Data.pratiques.headingSpan }} {{ . }} {{ end }}</span>
                        <small>Voir la rubrique <i class="tf-ion-ios-arrow-right"></i></small>
                        </a>
                    </h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML }}

            {{ range .Site.Data.pratiques.serviceItem}}
            {{"<!-- Single Service Item -->" | safeHTML }}
            <article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms">
                <div class="service-block text-center">
                    <h3>{{ .title }}</h3>
                    <a class="btn btn-transparent" href="{{ .url }}">{{ i18n "readMore" }}</a>
                </div>
            </article>
            {{"<!-- End Single Service Item -->" | safeHTML }}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}
