.blabla {
  font-style: italic;
  font-size: 1.3em;
  color: #ef449f;
  margin:2em auto;
}
.box-ingredients {
  margin: 1em auto;
  padding:1em;
  width:90%;
  background-color:#fff;
  background-image: url('../images/instamiam-fouet-fond-h400.jpg');
  background-repeat:no-repeat;
  background-position: top right;
  border:#6ea8b4 solid 1px;
  font-size: 16px;
  text-align: left;
}
.box-ingredients > h4 {
  color:#353b43;
}
.list-ingredients {
  list-style-type: none;
  list-style-image: url('../images/favicon-16x16.png');
}

.list-mestags {
  list-style: none;
  padding: 0;
  font-size: 1em;
  font-variant: small-caps;
}

.list-mestags > li {
    display: inline-block;
    padding: .2em .6em .3em;
    margin:0 .3em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .5em;
    background-color: #6ea8b4;
}

.list-mestags > li > a:link {
  color: #353b43;
}
.list-mestags > li > a:hover {
  color: #fff;
}

.photo-miniature {
  float:left;
  width:20%;
  margin-right: 15px;
  border:1px solid #6ea8b4;
}

.post-single-content > p > strong {
  color: #e83e8c;
}
