{{ define "main" }}

    <!-- {{ partial "preloader.html" . }} -->

    <!-- {{ partial "hero-area.html" . }} -->

    {{ partial "navigation.html" . }}

    {{ partial "dernieres-recettes.html" . }}


    <!-- {{ partial "cta.html" . }} -->

    {{ partial "categories.html" . }}

    {{ partial "recettes-mieux-notees.html" . }}

    <!-- {{ partial "skill.html" . }} -->



    <!-- {{ partial "counter.html" . }} -->

    <!-- {{ partial "team.html" . }} -->

    <!-- {{ partial "pricing.html" . }} -->

    <!-- {{ partial "testimonial.html" . }} -->

    {{ partial "blog.html" . }}

    {{ partial "contact.html" . }}

{{ end }}
