
<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp" data-wow-duration="500ms">
    <div class="post-block">
        <div class="media-wrapper">
            <a href="{{ .Permalink }}">
            {{ with .Params.image1 }}
                <img src="{{ . | absURL }}" alt="post-image" class="img-fluid">
            {{ end }}
            </a>
        </div>
        <div class="content">
            <h3><a href="{{ .Permalink }}" aria-label="Voir la recette">{{ with .Params.name}}{{.}}{{else}}{{ .Title }}{{end}}</a></h3>
            <p>{{ with .Params.blabla}}{{.}}{{else}}{{ .Summary }}{{end}}</p>
            <a class="btn btn-transparent" href="{{ .Permalink }}" aria-label="Voir la recette">{{ if isset .Params "type" }} {{ i18n "readMore" }}{{ else }} {{ i18n "voirLesRecettes" }}{{ end }}
            </a>
        </div>
    </div>
</article>
