{{ define "main" }}

{{ partial "navigation.html" . }}

{{ partial "microformats.html" }}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
              <!-- PHOTO 1 -->
              {{ with .Params.image1 }}<img class="img-fluid mb-50 photo-miniature" src="{{ . | absURL }}" alt="blog-image">{{ end }}
              <h1>{{ .Title }}</h1>
                <p>Publié par <a href="/author/{{ urlize .Params.author}}">{{ .Params.author }}</a> le {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</p>
                
                {{ if .Params.categories }}
                  <!-- CATEGORIES & TAGS -->
                  <ul class="list-mestags">
                    <i class="tf-ion-pricetags"></i>
                    {{ range .Params.categories }}
                    <li>
                      <a href="{{ "/category/" | relLangURL }}{{ . | urlize }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
                        {{- . -}}
                      </a>
                    </li>
                    {{ end }}
                    {{ range .Params.tags }}
                    <li>
                      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
                        {{- . -}}
                      </a>
                    </li>
                    {{ end }}
                  </ul>
                {{ end }}
              </div>

              <div class="col-lg-12 text-center">
                <!-- BLABLA -->
                {{ if .Params.blabla }}
                <div class="col-lg-8 offset-lg-2">
                    <div class="blabla">
                        <i class="tf-ion-quote"></i>&nbsp;{{ .Params.blabla }}
                    </div>
                </div>
                {{ end }}


                <!-- PHOTO 2 -->
                {{ if .Params.image2 }}
                  {{ with .Params.image2 }}
                    <img class="img-fluid mb-50" src="{{ . | absURL }}" alt="photo préparation recette">
                  {{ end }}
                {{ end }}

                <!-- INGREDIENTS -->
                {{ if .Params.ingredients }}
                <div class="col-lg-8 offset-lg-2 box-ingredients">
                  <p class="donnees-recette">
                    <i class="tf-ion-ios-people"></i>&nbsp;
                    <span class="yield">{{ .Params.quantite }}</span>
                    &nbsp;<i class="tf-ion-ios-clock"></i>&nbsp;
                    Préparation <span class="preptime">{{ .Params.preptime }}<span class="duration"><span class="value-title" title="PT{{ .Params.preptime }}"></span></span></span>
                    Cuisson <span class="cooktime">{{ .Params.cooktime }}<span class="duration"><span class="value-title" title="PT{{ .Params.cooktime }}"></span></span></span>
                    Temps total <span class="totaltime">{{ .Params.totaltime }}<span class="duration"><span class="value-title" title="PT{{ .Params.totaltime }}"></span></span></span>
                  </p>
                <hr>
                  <h4>Ingrédients :</h4>
                  <ul class="list-ingredients">
                    {{ range .Params.ingredients }}
                    <li>{{- . -}}</li>
                    {{ end }}
                  </ul>
                </div>
                {{ end }}
              </div>
              <div class="col-lg-12 text-left">
                <!-- CONTENU -->
                <div class="col-lg-10 offset-lg-1">
                    <div class="post-single-content">
                        {{ .Content }}
                    </div>
                </div>
            </div>
            
              {{ if isset .Params "ingredients" }}
                <div  class="col-lg-12 text-center">
                  {{ partial "share_post" . }}
                </div>
                <div  class="col-lg-12">
                  <section class="portfolio section">
                    {{ partial "recherche.html" }}
                  </section>
                </div>
              {{ end }}

        </div>
    </div>
</section>

{{ end }}
