{{ if .paginator.HasPrev }}
<article class="ui attached center aligned segment card dream-card">
  <div class="content">
    <div class="ui medium header">
      <a href="{{ .paginator.Prev.URL }}" title="{{ i18n "prevPage" }}">
        <i class="large link arrow alternate circle left icon" style="color: #fa749e !important;"></i> {{ i18n "prevPage" }} 
      </a>
    </div>
  </div>
</article>
{{ end }}

{{ if .paginator.HasNext }}
<article class="ui attached center aligned segment card dream-card">
  <div class="content">
    <div class="ui medium header">
      <a href="{{ .paginator.Next.URL }}" title="{{ i18n "nextPage" }}">
        {{ i18n "nextPage" }} <i class="large link arrow alternate circle right icon" style="color: #fa749e !important;"></i>
      </a>
    </div>
  </div>
</article>
{{ end }}
